$primary: blue;
$secondary: gray;
$warning: yellow;
$danger: red;
$tertiary:skyblue;
$width: 250px;
$height: 200px;
$padding:20px;
$text-align: center;
$margin-top: 30px;
$margin-buttom:30px;
$margin-top1: 94px;
$margin-left: 400px;
$font-weight: bold;
$size: cover;
$backgroud-repeat: no-repeat;
$background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHq3HX9YSwBbig7opPDuQvwzRsFFEdniMJDEOXue_QwQ9Kdsjgxg");
$overflow: auto;
$height: 100vh;
$max-height: 100vh;
$align-text:center;
$float: center;